@import-normalize;
@import '~bootstrap/scss/bootstrap';
// @import './shared.scss';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@800&family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  //   font-family: $primary-font-stack;
  line-height: 1.5;
  //   font-size: 15px;
  //   color: $primary-color;
  //   background-color: $background-color;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  // height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

.progress-modi {
  background-color: inherit;
  height: 52px;
  border-radius: 0;
  opacity: 0.7;
  @media all and (orientation: portrait) {
    height: 62px;
  }
}

.progress-bar {
  min-width: 20px;
}
